@import url(partials/_variables.scss);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-foto {
  background-image: url(https://megaone.acrothemes.com/cafe/images/banner-image.jpg);
  height: 130vh;
  width: 100%;
}

.menu {
  margin: 80px;
}

.menu {
  width: 88%;
  height: 65px;
  position: absolute;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 9;
}
.menu .logo {
  width: 9%;
  height: 65px;
  padding: 10px 0 0 17px;
  background-color: black;
}

.menyu ul li {
  list-style: none;
  display: inline-block;
  padding: 25px;
}
.menyu a {
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.text-yellow {
  color: rgb(236, 157, 11) !important;
}

.cent-words {
  color: #fff;
  padding-left: 42%;
  position: absolute;
  margin-top: 25%;
  font-size: 20px;
  text-align: center;
}

.cent-words .cent-text {
  border: 15px;
  background-color: black;
}
.cent-words .cent-text2 {
  border: 30px;
  background-color: darkorange;
}

.btn1 {
  border: 2px solid transparent;
  border-radius: 50px;
  background: white;
  border-color: white;
  font-size: 15px;
  padding: 8px 38px;
  line-height: 2em;
}

.btn1 a {
  color: black;
}

nav .icons a {
  color: #fff;
}

ul {
  list-style: none;
}

.icons {
  margin-top: 40%;
  font-size: 25px;
}

.btn a {
  color: black;
}

.word {
  font-size: 20px;
  margin-top: 20%;
  padding-left: 25%;
  align-items: center;
}

.image2 {
  margin-top: -15%;
  padding-left: 50%;
}

.word2 {
  font-size: 25px;
  padding-left: 20%;
}

.word2 {
  border: 30px;
  background-color: darkorange;
}

.icon1 i {
  font-size: 150px;
}

.icon1 {
  margin: 15%;
}

.text {
  display: inline-block;
  font-size: 20px;
}

.icon2 i {
  font-size: 150px;
}

.text2 {
  font-size: 20px;
}

.icon2 {
  margin: -20%;
  padding-left: 90%;
}

.icon3 i {
  font-size: 120px;
}

.icon3 {
  margin: 15%;
}
.icon3 .text3 {
  display: inline-block;
  font-size: 20px;
}

.icon1 a {
  color: black;
}

.icon1 a :hover {
  color: orange;
}

.icon2 a {
  color: black;
}

.icon2 a :hover {
  color: orange;
}

.icon3 a {
  color: black;
}

.icon3 a :hover {
  color: orange;
}

.bg-orange {
  background-color: #ff6000;
  width: 100%;
  height: 300px;
}

.words {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.word3 {
  margin-top: 7%;
  text-align: center;
  font-size: 40px;
  padding-left: 10%;
  color: white;
}

.word4 {
  margin-top: 7%;
  font-size: 20px;
  text-align: center;
  color: white;
}

.word5 {
  margin-top: 7%;
  padding-right: 10%;
  font-size: 30px;
  text-align: center;
  color: white;
}

.cent-w {
  margin-top: 10%;
  text-align: center;
  align-items: center;
  font-size: 25px;
}

.cent-w h1 {
  color: #ff6000;
}

.container .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.word6 {
  text-align: center;
  margin: 15%;
}

i {
  font-size: 50px;
}

h4 {
  color: #ff6000;
}

h1 {
  font-size: 50px;
}

.word7 {
  margin: 10%;
  padding-right: 80%;
  color: #ff6000;
}

.word8 .worddd {
  padding-left: 85%;
  color: #ff6000;
}

.word9 {
  align-items: center;
}/*# sourceMappingURL=style.css.map */